[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pg8000 = "*"

[dev-packages]
pytest = "*"
moto = {extras = ["all"], version = "*"}
flake8 = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.12"
